---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components//home/Hero.astro';
import HomeStyles from '../components/home/HomeStyles.astro';
import ValuePropSection from '../components/home/ValuePropSection.astro';
import BenefitsSection from '../components/home/BenefitsSection.astro';
import CtaBanner from '../components/home/CtaBanner.astro';
import StrategiesSection from '../components/home/StrategiesSection.astro';
import ContactSection from '../components/home/ContactSection.astro';
import VideoBanner from '../components/home/VideoBanner.astro';
import PricingSection from '../components/home/PricingSection.astro';
import FaqSection from '../components/home/FaqSection.astro';

const title = 'HODL Alpha | The Smarter Way to HODL (A better strategy for long term success)';
const description =
  'HODL Alpha is a quantified strategy that aims to maximize returns from holding assets long term, like Bitcoin.';
---

<BaseLayout {title} {description}>
  <Header />
  <HomeStyles />

  <main id="main">
    <Hero />
    <ValuePropSection />
    <BenefitsSection />
    <CtaBanner />
    <StrategiesSection />
    <ContactSection />
    <VideoBanner />
    <PricingSection />
    <FaqSection />
  </main>
</BaseLayout>
